/* BOTÓN HAMBURGUESA */
.menu-btn{
    position:fixed;
    top:20px;
    left:20px;
    width:50px;
    height:50px;
    border:none;
    border-radius:10px;
    background:#233d91;
    color:white;
    font-size:22px;
    cursor:pointer;
    z-index:1000;
}

/* SIDEBAR CERRADO */
.sidebar{
    width:250px;
    min-height:100vh;
    background:#233d91;
    color:white;
    padding:20px;
    box-sizing:border-box;
    position:fixed;
    top:0;
    left:-250px;
    transition:.3s;
    z-index:999;
}

a{
    text-decoration: none;
    color: inherit;
}


/* SIDEBAR ABIERTO */
.sidebar.mostrar{
    left:0;
}

/* CONTENIDO NORMAL */
.contenido{
    transition:.3s;
    margin-left:0;
}

/* CONTENIDO CUANDO SE ABRE EL MENÚ */
.contenido.mover{
    margin-left:250px;
}

/* Agrupador de usuario y botón salir */
.acciones-encabezado {
    display: flex;
    align-items: center;
    gap: 20px; /* Espacio entre el cuadro de usuario y el botón */
}

/* Estilo para el botón de salir (para quitar el style en línea del HTML) */
.btn-salir {
    padding:10px 8px;
    border-radius:10px;
    background-color: #e74c3c;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.btn-salir:hover {
    background-color: #c0392b;
}

/* Controles de paginación */
.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.paginacion button {
    padding: 8px 15px;
    background-color: #233d91;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.paginacion button:hover:not(:disabled) {
    background-color: #3557c8;
}

.paginacion button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.paginacion span {
    font-weight: bold;
    color: #2c3e50;
}

.modal-contenido select {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Opcional: Para que las opciones desplegadas sí muestren el texto completo */
.modal-contenido select option {
    white-space: normal;
}

.roja{
    background: #8a0000;
}