
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    display:flex;
    background:#f4f6fb;
}
.roja{
    background: #8a0000;
}

.sidebar{
    width:250px;
    min-height:100vh;
    background:#233d91;
    color:white;
    padding:25px;
}

.logo-panel{
    text-align:center;
    margin-bottom:50px;
}

.logo-panel img{
    width:90px;
}

.logo-panel h2{
    margin-top:10px;
}

.menu{
    list-style:none;
}

.menu li{
    padding:15px;
    margin-bottom:12px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

.menu li:hover{
    background:#3557c8;
}

.activo{
    background:white;
    color:#233d91;
    font-weight:bold;
}


.contenido{
    flex:1;
    padding:35px;
}

.contenido h1{
    margin-left: 50px;
}

.encabezado{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
}

.usuario{
    background:white;
    padding:10px 18px;
    border-radius:10px;
    box-shadow:0 2px 6px rgba(0,0,0,.15);
}


.barra-acciones{
    display:flex;
    gap:15px;
    margin-bottom:30px;
}

.barra-acciones input{
    flex:1;
    padding:12px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:15px;
}

.btn-filtrar,
.btn-agregar{
    padding:12px 25px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    color:white;
    font-weight:bold;
}

.btn-filtrar{
    background:#2563eb;
}

.btn-agregar{
    background:#10b981;
}

/* ========================= */
/* TABLA */
/* ========================= */

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

th{
    background:#233d91;
    color:white;
    padding:15px;
}

td{
    text-align:center;
    padding:15px;
    border-bottom:1px solid #ececec;
}

.estado{
    padding:6px 12px;
    border-radius:20px;
    color:white;
}

.normal{
    background:#10b981;
}

.btn-editar{
    background:#f59e0b;
    color:white;
    border:none;
    padding:8px 15px;
    border-radius:8px;
    cursor:pointer;
}

.btn-eliminar{
    background:#ef4444;
    color:white;
    border:none;
    padding:8px 15px;
    border-radius:8px;
    cursor:pointer;
}
.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.4);
    justify-content:center;
    align-items:center;
}

.modal-contenido{
    background:white;
    width:420px;
    padding:25px;
    border-radius:15px;
}

.modal-contenido h2{
    color:#233d91;
    margin-bottom:20px;
}

.modal-contenido label{
    display:block;
    margin-top:12px;
    font-weight:bold;
}

.modal-contenido input{
    width:100%;
    padding:10px;
    margin-top:6px;
    border:1px solid #ddd;
    border-radius:8px;
}

.botones-modal{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-top:25px;
}