<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reporte de Movimientos - Nexura</title>
    <link rel="stylesheet" href="../css/movimientos.css">
    <link rel="stylesheet" href="../css/menu.css">
</head>
<body>
<button class="menu-btn" onclick="abrirMenu()">☰</button>

<div class="sidebar" id="sidebar">
    <div class="logo-panel">
        <img src="../img/logo.png" alt="Logo Nexura">
        <h2>Nexura</h2>
    </div>

    <ul class="menu">
            <a href="../views/panel.html"><li>🏠 Panel general</li></a>
            <a href="../views/inventario.html"><li>📦 Inventario</li></a>
            <a href="../views/marcas.html"><li>🏷️ Marcas</li></a>
            <a href="../views/areas.html"><li>🧬 Áreas</li></a>
            <a href="../views/categorias.html"><li>🎯 Categorías</li></a>
            <a href="../views/equipos.html"><li>🖥️ Equipos</li></a>
            <a href="../views/productos.html"><li>🧪 Productos</li></a>
            <a href="../views/clientes.html"><li>👥 Clientes</li></a>
            <a href="../views/movimientos.html"><li class="activo">📊 Reporte de movimientos</li></a>
        </ul>
</div>

<div class="contenido">

    <div class="encabezado">
        <h1>Reporte de movimientos (Kardex)</h1>
        
        <div class="acciones-encabezado">
            <div class="usuario" id="infoUsuario">
                👤 <span id="nombreUsuario">Cargando...</span> | <span id="rolUsuario"></span>
            </div>
            <a href="#" id="btnCerrarSesion" class="btn-salir">🚪 Cerrar sesión</a>
        </div>
    </div>

    <div class="barra-acciones">
        <input type="text" id="inputBusqueda" placeholder="Buscar por producto, folio, usuario o cliente">
    </div>

    <table>
        <thead>
            <tr>
                <th>Folio</th>
                <th>Tipo</th>
                <th>Producto (SKU)</th>
                <th>Lote Afectado</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Cliente / Destino</th>
                <th>Usuario</th>
                <th>Fecha y Hora</th>
            </tr>
        </thead>
        <tbody id="tablaMovimientos">
            </tbody>
    </table>

    <div id="controlesPaginacion" class="paginacion"></div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function abrirModal(){ document.getElementById("modalMovimiento").style.display = "flex"; }
    function cerrarModal(){ document.getElementById("modalMovimiento").style.display = "none"; }
</script>
<script src="../js/menu.js"></script>
<script src="../js/movimientos.js"></script>
</body>
</html>